#wrapper {
    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}


body {
    /*suggestion settings from google fonts*/
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
    padding: 0;
    margin: 0;
}

nav {
    margin-top: 40px;
    line-height: 15px;
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: black;
    justify-content: space-between;
}

/*logo section*/
.logo {
    text-align: left;
}

.logo img {
    margin-left: 15px;
    margin-top: 2px;
    width: 110px;
    height: 50px;
}

/*tab section*/
.menu1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/*a for links or act each element make them block so that not default inline*/
.menu1 a {
    display: block;
}

nav a {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: red;
}

.menuI {
    text-align: right;
}

.menuI_active {
    text-align: right;
}

/*all hamburger*/
.hamburger-menu {
    display: none;
    /* Hidden by default, will be shown on mobile */
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Size of the hamburger menu icon */
    color: white;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

/*nav stop*/



h1 {
    font-family: "Roboto", sans-serif;
    text-align: left;

    margin-top: 60px;
    margin-bottom: 20px;

    font-size: 40px;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}


section {
    margin-bottom: 30px;
    text-align: justify;
}

article p {
    margin-bottom: 15px;
}

.books {
    margin-top: 50px;
    display: grid;
    /*12 column norm chosen b/c easy number easily divided by 4,3,2,*/
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    gap: 16px;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.story-left {
    grid-column: 1/7;
    cursor: auto;
}

.story-left img {
    grid-column: 1/7;
    cursor: auto;
}

.story-right {
    margin: 0px;
    grid-column: 7/13;
}

.story-right p {
    text-align: left;
}

.story-right h2 {
    margin: 0px;
    text-align: left;
    font-size: 2em;
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im1 {
    grid-column: 1/4;
    grid-row: 1/3;
}

.im2 {
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3 {
    grid-column: 7/13;
    grid-row: 1/6;
}

.im4 {
    grid-column: 1/4;
    grid-row: 3/6;
}

.im5 {
    grid-column: 4/7;
    grid-row: 3/6;
}

.im6 {
    grid-column: 1/7;
    grid-row: 6/9;
}

.im7 {
    grid-column: 7/10;
    grid-row: 6/7;
}

.im8 {
    grid-column: 10/13;
    grid-row: 6/7;
}

.im9 {
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10 {
    grid-column: 10/13;
    grid-row: 7/9;
}

.im11 {
    grid-column: 1/7;
    grid-row: 9/13;
}

.im12 {
    grid-column: 7/13;
    grid-row: 9/13;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}

/*article figure div hovertext why first two like this*/


.hover-text {
    opacity: 0;
    /*makes it so photos don't move to show text it is layered ontop*/
    position: absolute;
    /*not margin because using absolute position*/
    bottom: 10px;
    left: 10px;
    background-color: rgb(220, 22, 22, 0.7);
    padding: 3px;
    /*rounds the corners*/
    border-radius: 1px;
    color: white;
    transition: opacity 0.3s ease;
}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure img {
    transition: all 0.3s ease;
}

.books figure:hover img {
    transform: scale(0.97);
    opacity: 0.5;
    filter: blur(5px);
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
}

.social {
    align-items: right;
    text-align: right;
    justify-content: right;
}

.social .fa {
    text-decoration: none;
    padding: 2px;
    font-size: 2em;
    color: gray;
}

.fa:hover {
    color: lightgray;
}

/* Disable image hover transformations on story pages */
.story-page .books figure:hover img,
.story-page .books figure:hover .hover-text {
    transform: none;
    opacity: 1;
    filter: none;
    cursor: auto;
}

/* Hide hover text completely */
.story-page .hover-text {
    display: none !important;
}

.credit {
    padding: 2px;
    margin: auto;
}




@media (max-width: 780px)
/*at what width is this this going to be triggered at*/
    {

    button {
        border-width: 0px;
        background-color: black;
    }

    .close-menu {
        display: block;
        /*Ensure the button is visible*/
        position: absolute;
        /*Absolute positioning to place the button precisely*/
        top: 20px;
        /*space from the top*/
        right: 20px;
        /*Space from teh right*/
        font-size: 50;
        color: white;
    }


    .hamburger-menu {
        display: flex;
        /*knows it is a grid based selector, puts it in a block*/
        /*Ensure the hamburger menu is visible and aligned*/
        align-items: center;
        /*Center the button vertically in the header*/
    }

    /*Display the menu fullsceeen on mobile*/
    .menu-deployed {
        display: flex !important;
        ;
        /*Use flexbox for layout*/
        flex-direction: column;
        /*stack elements vertically*/
        align-items: center;
        /*Center elements horizontally*/
        width: 100%;
        /*Take full width*/
        height: 100vh;
        /*Take full height of the viewport*/
        position: fixed;
        /*Fixed*/
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        /*controls arrangement of elements, arbitrarily large number*/
        padding-top: 50px;
    }

    .menu1 {
        display: none;
        /*makes it so og computer display not shown and this replaces it*/
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        /* Ensure the menu is above other elements */
    }

    .menu1 a {
        padding: 20px;
        /*Increase padding to space out elements*/
    }

    /*makes it so addresses two states of buttons because like or in java*/
    .menu1 a,
    .menu1 a:hover {
        text-decoration: none;
        /*remve underline for normal and hover states*/
        color: black;
        /*link color unchanged*/
        background-color: transparent;
        /*no background change on hover*/
        font-weight: bold;
    }


    nav {
        margin: 20px auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #000;
        background: #000;
        z-index: 1000;
        color: white;
    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;
        text-align: center;
        font-size: 38px;
    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    /* Stack the image above the text on mobile for story pages */
    .books {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .story-left,
    .story-right {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
    }

    .story-right {
        margin-top: 20px;
        text-align: left;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }
}